{{$TableNameFirstCaps := pascalCase .TableName}}
{{$TableNameKebabCase := kebabCase .TableName}}

//----------------------- {{$TableNameFirstCaps}} -----------------------
apiGroup.GET("/{{$TableNameKebabCase}}", app.List{{$TableNameFirstCaps}}Handler,
    app.approvedUserMiddleware,
    app.filterMiddleware([]string{"{{.ListSearchColumn}}", "created_at", "updated_at"}),
)

apiGroup.GET("/{{$TableNameKebabCase}}/:id", app.Get{{$TableNameFirstCaps}}Handler,
    app.approvedUserMiddleware,
)

apiGroup.GET("/{{$TableNameKebabCase}}/:id/history", app.Get{{$TableNameFirstCaps}}History,
    app.approvedUserMiddleware,
)

apiGroup.GET("/{{$TableNameKebabCase}}/search", app.Search{{$TableNameFirstCaps}}Handler,
    app.approvedUserMiddleware,
)

apiGroup.POST("/{{$TableNameKebabCase}}", app.Create{{$TableNameFirstCaps}}Handler,
    app.approvedUserMiddleware,
    app.allowedRolesMiddleware([]string{"superadmin", "admin", "photographer"}),
)

apiGroup.PUT("/{{$TableNameKebabCase}}/:id", app.Update{{$TableNameFirstCaps}}Handler,
    app.approvedUserMiddleware,
    app.allowedRolesMiddleware([]string{"superadmin", "admin", "photographer"}),
)
