{{$TableNameFirstCaps := pascalCase .TableName}}

{{$TableNameFirstCaps}} interface {
    Get(ctx context.Context, id string) (dto.{{$TableNameFirstCaps}}, error)
    List(ctx context.Context, filter dto.Filters) (*dto.{{$TableNameFirstCaps}}ListPaginationResponse, string, error)
    Create(ctx context.Context, inputDto dto.{{$TableNameFirstCaps}}Request, loggedInUserId string) (*uuid.UUID, error)
    Update(ctx context.Context, id string, inputDTO dto.{{$TableNameFirstCaps}}Request, loggedInUserId string) error
    GetHistory(ctx context.Context, id string) (*[]dto.{{$TableNameFirstCaps}}, error)
    Search(ctx context.Context, searchInput string) ([]dto.{{$TableNameFirstCaps}}Min, error)
}

//-----------------------------------------
{{$TableNameFirstCaps}}:  {{$TableNameFirstCaps}}Service{BunDB: bunDB, Repos: repos},